## Basic Data Types

### Data Types : 
- Integers 
- Floating Point
- Strings

### Data structures :
- Lists
- Dictionaries
- Tuples
- Sets

| Name | Type | Description |
| :-: |:-: | :-: |
|__Integers__ | int | Integer numbers such as __-3__ __300__ __20__|
|__Floating Point__ | float | Numbers with decimal point : __2.3 -4.5 100.0__|
|__Strings__ | str | Ordered sequence of characters: "__Hello__","__Sammy__","__200__"|
|__Lists__|list|Ordered sequence of objects : __[10,"Hello",20.034]__|
|__Dictionaries__|dict|Unordered key : Value pairs : __{"mykeys":"value","name":"Frankie"}__|
|__Tuples__|tup|Ordered immutable sequence of objects : __("a","10")__|
|__Sets__|set|Unordered collection of unique objects : __("a","b")__|
|__Booleans__|bool|Logical value indicating __True__ or __False__|

## Numbers in Python
- Two main number types : 
  - Integers numbers
  - Floating point numbers

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*3

6

In [4]:
3/2

1.5

In [1]:
3//2 # Integer division

1

__Modulo or "Mod" Operator "%"__ : It returns the remainder after division, it works on integer data type.

In [5]:
7 % 4

3

In [6]:
50 % 5

0

Modulo operator can be used directly to check wether a number is either __Even__ or __Odd__ .

In [7]:
## If remainder after division with 2 is zero then number is Even, if not it is Odd

print(23 % 2) ## Results 1 - Odd number

print(26 % 2) ## Results 0 - Even number

1
0

__Power__ :

x raised to y : __x ** y__

In [8]:
2 ** 4

16

In [9]:
# Compound operations

2 + (10 * 3) + (2 ** 2)

36

## Variable Assignment
- Usual rules for naming applies
- __Lowercase__ are preferred
- Avoid using keywords
- All caps is preferred for __Global Variables__

### Advantages of python 
- Python is Dynamically typed i.e, we can reassign variables to different data types.
- This makes python very flexible in assigning data types,this is different than other languages that are "Statically-Types".

In [10]:
# Example to show dynamic typing

# Integer

my_dogs = 2 
print(my_dogs)

# List
    
my_dogs = ["Sam","Frank"] 
print(my_dogs)

2
['Sam', 'Frank']

### Pros of Dynamic Typing
- Very easy to work with
- Faster development time

### Cons of Dynamic Typing
- May result in bugs for unexpected data types!
- We must be aware of __type()__

In [11]:
a = 5

In [12]:
a

5

In [13]:
a + a

10

In [14]:
# Reassignment
a = a + a  # Add a+a and assign it to a 
a

10

### type() function

In [15]:
type(a)

int

In [16]:
b = 3.45
type(b)

float

In [17]:
c = ["hi",345]
type(c)

list

### Strings :
- Strings are sequence of characters,using the syntax of either single quotes or double quotes, examples are :
  - "Hello"
  - 'Hello'
- The advantage of having double and sigle quotes are, if in a string there is a single quote for a particular word then using double the ambiguity can be resolved, example:
   - "I dont't do that"
   
- Because strings are __ordered sequences__ it means that we can use __indexing , slicing__  to grab sub-sections of the string.
- Indexing notation uses __[ ]__ notation after the string(or varaible assigned the string).
- Indexing allows us to access a single character from the string.
- Indexing starst with  zero in python
- Reverse indexing is also present in python
- ### string is immutable, so every method that is used on it is not inplace. ###

 |H|e|l|l|o|
 |-|-|-|-|-|
 |0|1|2|3|4|
 |-|-|-|-|-|
 |0|-4|-3|-2|-1|

In [5]:
'Hello'

'Hello'

In [6]:
"Hello"

'Hello'

In [7]:
"That's a string"

"That's a string"

In [8]:
print("Hello")

Hello

### Escape Sequences

In [9]:
print("Hello \nWorld")

Hello
World

In [10]:
print("Hello \t World")

Hello 	 World

### len() function : Returns the length of the string

In [11]:
x = "HelloWorld"
len(x)

10

In [12]:
# len() also accounts for spaces in the string
len("This has space")

14

In [13]:
my_string = "StrangerThings"
my_string[0:4]

'Stra'

In [14]:
my_string[-4]

'i'

### Slicing
__[Start:Stop:Step]__
- __In python last index is exclusive__

In [15]:
my_string[0:6:2]

'Srn'

In [16]:
mystring = "abcdefghijk"
mystring

'abcdefghijk'

In [17]:
"abcdefghijk"[0:3] # using slicing directly on a string

'abc'

In [18]:
# Displaying c to h
mystring[2:8]   ### In python last index is exclusive

'cdefgh'

In [19]:
mystring[:6]  # from 0 to 5

'abcdef'

In [20]:
mystring[8:] # 8 to end

'ijk'

In [21]:
# Slicing to obtain def
mystring[3:6] # 6 exclusive

'def'

In [22]:
## Extracting everthing from the string
mystring[::]

'abcdefghijk'

In [23]:
## Extracting every second element
mystring[::2]

'acegik'

### String Reversal using slicing

In [24]:
mystring[::-1]

'kjihgfedcba'

## String Properties and Methods

### Immutability : Cannot change

In [25]:
name = "sam"
name

'sam'

In [26]:
# To change sam to pam, we may try name[0] = 'p' , but this is false

name[0] = 'p'

TypeError: 'str' object does not support item assignment

In [27]:
name = 'p' + name[1:] # String concatenation
name

'pam'

In [28]:
x = "Hello World!"
x

'Hello World!'

In [29]:
x + " It is beautiful out here"

'Hello World! It is beautiful out here'

### Multiple String concatenations

In [30]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

### Methods / Functions in string

In [31]:
x = "Hello World"

In [32]:
x.upper()   # It doesnt change the value because it is not assigned , since string is immutable.

'HELLO WORLD'

In [33]:
x # unchanges x

'Hello World'

In [34]:
x.upper # without paranthesis giver discription

In [35]:
x.split()  # Splits and generates list based on given input , default argument = " " space

['Hello', 'World']

In [36]:
x.split('o')  # slipts from 'o'

['Hell', ' W', 'rld']

In [11]:
# To split an entire string into individual characters : using list comprehension

num = "0123456789"
num_list = [letter for letter in num]
num_list

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

__Print Fromatting with Strings__

In [37]:
# There are multiple ways for string formatting, the easiest among them is string concatenation,
# and the powerful among them are String Interpolation
# String Interpolation has two methods, they are:
# 1) .format() - {This is a method} 
# 2) f-strings - {formatted string literals}

## Using String Concatenation
my_name = "Sushanth"
print("Hello "+my_name)

Hello Sushanth

__Fromatting with .format() method__ :

- A good way to format objects into our strings for print statements is with the string.format() method. The syntax is :
- '__String here {} then also {}__'.format('Something1','Something2')

In [38]:
print("This is a string {}".format("Inserted"))

This is a string Inserted

In [39]:
print("The {} is the {} of the {}".format("Lion","King","Jungle"))

The Lion is the King of the Jungle

In [40]:
# Formatting based on indices and keyword
Animal = "Lion"
Role = "King"
Place = "Jungle"

# The indices given are as per the order in the fromat input
print("The {2} is the {0} of the {1}".format(Role,Place,Animal))

print("The {L} is the {K} of the {J}".format(L = "Lion",K= "King",J = "Jungle"))

The Lion is the King of the Jungle
The Lion is the King of the Jungle

__String Literals__

In [41]:
name = "Sushanth Kumar"
print(f"My name is {name}")   ## used widely as of now

My name is Sushanth Kumar

In [42]:
name = "Sushanth Kumar"
age = 21

print(f"My name is {name}, my age is {age}")

My name is Sushanth Kumar, my age is 21

## Lists ##

- Lists are ordered sequences that can hold a variety of object types.
- They use __[ ]__ brackets and commas to seperate objects in the list.
  - [1,2,'sush','T']
- Lists supports indexing and slicing. Lists can be nested and also have a variety of useful methods that can be called off of them.

In [43]:
my_list = ["Sush",1,3355]
len(my_list)

3

In [44]:
my_list[0:1]

['Sush']

In [45]:
my_list[1:]

[1, 3355]

In [46]:
another_list = ["Kumar",5533,3]

# List concatenation

new_list = my_list + another_list
new_list

['Sush', 1, 3355, 'Kumar', 5533, 3]

In [47]:
new_list[0] = new_list[0].upper()    # since string is immutable
new_list

['SUSH', 1, 3355, 'Kumar', 5533, 3]

In [48]:
# Adding elements at the end of a list
new_list.append("Thaviti")
new_list

['SUSH', 1, 3355, 'Kumar', 5533, 3, 'Thaviti']

In [49]:
# Removing element at the end of the list
last_element = new_list.pop()
last_element

'Thaviti'

In [50]:
# Removing element at any required index in a list
# To do this we must provide the index to the pop method as an argument

popped_element = new_list.pop(0)
popped_element

'SUSH'

In [51]:
# Sort and Reverse methods
new_list = ['a','v','e','l']
num_list = [3,6,1,2]

In [52]:
new_list.sort()   # Inplace or it directly effects the original list , it doesn't return any thing
new_list

['a', 'e', 'l', 'v']

In [53]:
num_list.sort() # Inplace or it directly effects the original list
num_list

[1, 2, 3, 6]

In [54]:
# Reverse method , it is also in-place method
new_list.reverse()
new_list

['v', 'l', 'e', 'a']

## Dictionaries ##
- Dictionaries are unordered mappings for storing objects. Previously we saw how lists store objects in an ordered sequence.
- Dictionaries uses a __Key-value__ pair instead of indexing.
- This __Key-Value__ pair allows users to quicly grab objects without needing to know an index allocation.
- Dictionaries uses curly braces and colons to signify the keys and their associated values.
  - __{'Key1':'Value1' , 'Key2':'Value2' }__

- _So when to choose list and when to choose a dictionary ??_
- __Dictionaries:__ Objects are retrived by key name.
  - Unordered and can not be sorted.
- __Lists:__ Objects retrived by location.
  - Ordered sequence can be indexed or sliced.

In [55]:
my_dict = {'key1':"Sushanth",'key2':3355}
my_dict

{'key1': 'Sushanth', 'key2': 3355}

In [56]:
print(my_dict['key1'])
print(my_dict['key2'])

Sushanth
3355

In [2]:
# Typical use case of a dictionary : Price lookups

price_lookups = {'Brush':20,'Denim Shirt': 200,'Jeans':400}
my_keys = price_lookups.keys()
print(price_lookups)
print(my_keys)
print(type(my_keys))

{'Brush': 20, 'Denim Shirt': 200, 'Jeans': 400}
dict_keys(['Brush', 'Denim Shirt', 'Jeans'])
<class 'dict_keys'>

In [58]:
price_lookups['Jeans']

400

In [59]:
# Dictionaries can hold lists, tuples and Other Dictionaries aswell

d = {'k1':123,'k2':['Sushanth','Kumar','3355'],'inside':{'insideofinside':'This is sub-dict','k5':[1,2,3,4,'s']}}
print(d)

# Accessing elements of a nested dictionary

print(d['inside']['insideofinside'])  
print(d['inside']['k5'][1]) # accessing elements of a list in a nested dictionary

# Converting the last letter in the above list by accessing it from nested dictionary (.upperr() is not inplace method)
print(d['inside']['k5'][-1].upper())

{'k1': 123, 'k2': ['Sushanth', 'Kumar', '3355'], 'inside': {'insideofinside': 'This is sub-dict', 'k5': [1, 2, 3, 4, 's']}}
This is sub-dict
2
S

In [60]:
# Adding new key value pair to a dictionary

my_dictionary = {'k1':'sushanth','k2':'kumar'}
print(my_dictionary)

my_dictionary['k3'] = "Thaviti"
print(my_dictionary)

{'k1': 'sushanth', 'k2': 'kumar'}
{'k1': 'sushanth', 'k2': 'kumar', 'k3': 'Thaviti'}

In [61]:
# Over writing in a disctionary

my_dictionary['k3'] = "thaviti"
print(my_dictionary)

{'k1': 'sushanth', 'k2': 'kumar', 'k3': 'thaviti'}

In [62]:
# Accessing all keys of a dictionary
print(my_dictionary.keys())

# Accessing all values of a dictionary
print(my_dictionary.values())

# Accessing all the elements of dictionary
print(my_dictionary.items()) # This generated tuples

dict_keys(['k1', 'k2', 'k3'])
dict_values(['sushanth', 'kumar', 'thaviti'])
dict_items([('k1', 'sushanth'), ('k2', 'kumar'), ('k3', 'thaviti')])

## Tuples ##
- Tuples are very similar to lists but they are __immutable__.
- Once an element is inside a tuple can not be reassigned.
- Tuples use parenthesis : __(1,2,3)__

In [63]:
my_tuple = (1,2,"Sushanth")
type(my_tuple)

tuple

In [64]:
len(my_tuple)

3

In [65]:
my_tuple[0:2]

(1, 2)

In [66]:
my_tuple[-1]

'Sushanth'

In [67]:
my_tuple = ('a','a','b')
my_tuple.count('a') # Counts number of times a has appeared in the tuple
my_tuple.index('a') # Returns the index of first appearence of 'a'

0

In [68]:
# Immutable
my_tuple[0] = "sushanth"

# This property of immutability is very useful when we are using classes and objects in large projects, provides data integrity

TypeError: 'tuple' object does not support item assignment

In [3]:
# Creating a single element tuple

my_tuple = ( 10 ,)   # , is must
my_tuple


# Creating a tuple without using brackets

my_tuple = 1,2,3
my_tuple

(1, 2, 3)

## Sets in Python ##
- Sets are unordered collections of __unique__ elements.
- Meaning there can be only one representative of the same object.  
- Sets do not have any particular order associated with them.

In [69]:
myset = set()
print(myset)

set()

In [70]:
myset.add("sushanth")
print(myset)

{'sushanth'}

In [71]:
myset.add("2")
print(myset)

{'2', 'sushanth'}

In [72]:
myset.add("2")
print(myset)

# This doesnt add another 2 to the exsiting set because the 2 is already present and set cant have repeating elements

{'2', 'sushanth'}

In [73]:
# The main use of sets is obtaining unique elements of a list by casting
# Example :

my_list = [1,'sushanth',3.141,'sushanth',3.141,1,'sushanth',3.141,'sushanth']
my_unique_list = set(my_list)
print(my_unique_list)

{1, 3.141, 'sushanth'}

In [74]:
set('Sushanth')   # Order is completely random 

## very useful in many cases - because it spits out underlying characters in a string

{'S', 'a', 'h', 'n', 's', 't', 'u'}

## Booleans ## 
- Booleans are operators that allow us to convey __True__ or __False__ statements.
- These are very important later on when we deal with control flow and logic.

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

In [1]:
1 > 2 # Comparision opertors

False

In [ ]:
1 == 1

In [ ]:
b = None # place holder
type(b)

## Files ##
- This is an overiew of simple I/O with basic.txt files and file paths.
- These procedures directly extends to other file types

In [ ]:
# This creates a .txt file with the contents given below
%%writefile myfile.txt
Hello this is text file 
This is the second line 
This is the third line

In [ ]:
myfile = open('myfile.txt')

In [ ]:

pwd

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile.read()

In [ ]:
myfile.read()  # This results an empty string
               # So we need to reset the cursor to read it back again

The above happens because, we can think of it as like the file having some cursor to the begining of it and it reaches the file end as it is read.

In [ ]:
myfile.seek(0)  # This resets the cursor

In [ ]:
# This also includes escape sequences in
contents = myfile.read()
contents

In [ ]:
myfile.seek(0)
myfile.readlines() # Generates a list : This is needed in most cases to distinguish lines

### To open a file  which is to be readed is in other folder, Provide the complete path ###

myfile = open('path/mytext.txt')

### Best practices in File opening and closing ###

Always close a file after use is done

In [3]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

# If we use this we need not to worry about closing the file

contents

''

Reading and Writing into Files

In [ ]:
with open('myfile.txt',mode = 'r') as myfile :
    contents = myfile.read()

In [ ]:
with open('myfile.txt',mode = 'w') as myfile:
    contents = myfile.read()

# mode = 'r' read only
# mode = 'w' Write only
# mode = 'a' append only
# mode = 'r+' reading and writing
# mode = 'w+' writing and reading(Overwrites existing files or creates a new file!)

In [34]:
with open('my_new_file.txt',mode = 'r') as f:
    print(f.read())

This is first
This is second
This is third

In [38]:
with open('my_new_file.txt',mode = 'a') as f:
    f.write("\nThis is Fourth")

with open('my_new_file.txt',mode = 'r') as f:
    print(f.read())

This is first
This is second
This is third
This is Fourth

In [39]:
#  Write mode creates a  file if it doesnt exist already
with open('write_file.txt',mode  = 'w') as f:
    f.write("This is a new text file")

with open('write_file.txt',mode = 'r') as f:
    print(f.read())

This is a new text file